* {
  box-sizing: border-box;
}

:root {
  --one: black;
  --two: #ff6f3c;
  --three: #ff9a3c;
  --four: #ffc93c;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--one);
  background-color: lightgrey;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
}
p {
  margin: 0;
}

header {
  padding: 15px 6% 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--one);
  box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
 
}
header h1 {
  color: white;
  background-color: var(--two);
  padding: 5px 1% 5px 6%;
  line-height: 1;
  font-size: 3vw;
  margin: 0;
  border-radius: 0 10px 10px 0;
  
}

header h1 a  {
text-decoration: none;
color: white;
}
header h1:hover {
border: 2px var(--four) solid;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: white;
  margin-right: 10px;
  margin: 20px;
  background-image: linear-gradient(270deg, var(--three) 0%, var(--three) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.12s ease-in;
  font-size: 1.1vw;
  
}
nav a:hover {
  background-size: 100% 100%;
  border-radius: 10px;
}
nav a:last-child {
  margin-right: 0;
}

main {
  margin-top: 20px;
  margin-bottom: 45px;
}

.main-banner {
  background-image: linear-gradient(180deg, var(--two) 0%, var(--three) 100%);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  min-height: 30vh;
  color: white;
  padding: 2% 6%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}
.main-banner div h2 {
  flex: 0 0 90%;
  font-size: 2vw;
}
.main-banner h2 span {
  font-size: 150%;
  color: var(--one);
}

.main-banner .banner .portrait {
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-block-size: 13vw;
  min-block-size: 150px;
  block-size: auto;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* media quieries for the banner */

@media screen and (max-width: 550px) {
  .main-banner .banner .portrait {
    justify-content: center;
    text-align: center;
    margin-top: -50px;
  }
}

@media screen and (max-width: 810px) {
  .main-banner .banner .portrait {
    justify-content: center;
    text-align: center;
    margin-top: -50px;
  }
}

@media screen and (max-width: 800px) {
  .main-banner {
    justify-content: center;
    min-height: 27vh;
  }
}

.page {
  max-width: 88%;
  margin-right: auto;
  margin-left: auto;
}

.section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}
code {
font-size:3vw;
color: black;
}
.section h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 2px solid black;
  font-size: 2.5vw;
  line-height: 1;
  ;
}
.section > div {
  flex: 0 0 77%;
}
.section p {
  margin-bottom: 20px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-item {
  border: 5px solid var(--one);
  background-color: lightgrey;
  background-size: cover;
  color: white;
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin:  0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;
  border-radius: 20px;
}




.flex-item:first-child {
    min-height: 300px;
    flex-basis: 100%;
}
.flex-item:hover {
  background-color: rgba(0, 0, 0, .5);
  border-style:hidden;
}


/* edit this one for changing div on hover item */
.flex-item:hover > div { 
background-color: black;
transition: all .5s; 

}

.flex-item div {
background-color: var(--three);
padding: 8px 10px;
border-radius: 0px 10px 10px 0px;
}
.flex-item h3 {
    font-size: 1.2rem;
  }
.section address {
display:flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
height: 100%;
}
.section address a {
color: var(--one);
padding: 5px;
text-decoration: none;
font-size: 1.3rem;
font-style: normal;
background-image: linear-gradient(270deg, var(--three) 0%, var(--three) 100%);
background-repeat: no-repeat;
background-size: 100% 0.2em;
background-position: bottom;
transition: all 0.15s ease-in;
margin: 0 0.2rem 0.1rem;
display: inline-block;
}

.section address a:hover {
background-size: 100% 88%;
color: white;
}

.example1 { 
background-image: url("/assets/images/Screenshot\ 2023-07-20\ at\ 8.08.11\ PM.png")
}
.Example2 {
background-image: url(../assets/images/neon-style-coming-soon-glowing-background-design_1017-25516.avif);
}
.Example3 {
background-image: url(../assets/images/neon-style-coming-soon-glowing-background-design_1017-25516.avif);
}
.Example4 {
background-image: url(../assets/images/neon-style-coming-soon-glowing-background-design_1017-25516.avif);
}
.Example5 {
background-image: url(../assets/images/neon-style-coming-soon-glowing-background-design_1017-25516.avif);
}

@media screen and (max-width: 768px) {
  .flex-item,
  .flex-item:first-child {
    flex-basis: 100%;
  }

  .flex-item:first-child {
    min-height: 150px;
  }
  .contact address {
  flex-direction: column;
  align-items: flex-start;
    }
    
    
}
